In [1]:
print("6th March Python Basics Day 3")

6th March Python Basics Day 3

In [10]:
list1 = [[0,2,3,4],{0,1,2},{"Apple":1,"Banana":2},(1,2,3),3,4,6,6]

In [11]:
type(list1[0])

list

In [12]:
list1[0]

[0, 2, 3, 4]

In [17]:
#Conditional Statements
# 1. Simple if 
# 2. If else
# 3. Else if 
# 4. Nested if

In [18]:
a = 10
b = 15

In [27]:
#Simple if 

if a>b:  #False
    print("A is less than B.") #Indentation
    print("Sample")


print("This statement is outside condition")

This statement is outside condition

In [32]:
print(a<b)

True

In [31]:
#If Else:

if a<b: #False
  print("A is less than B.")
else:
  print("A is Greater than B.")

print("This statement is outside condition")

A is less than B.
This statement is outside condition

In [36]:
# Else if 

if False or True: # Condition 1
  print("Condition 1")
elif True: 
  print("Condition 2")
elif False:
  print("Condition 3")
elif False:
  print("Condition 4")
else:
  print("This is Else block")


print("Outside Condition")

Condition 1
Outside Condition

In [ ]:

AND 

exp1 exp2 Result
True True True
True False False
False True False 
False False False

OR 


exp1 exp2 Result
True True True
True False True
False True  True 
False False False


NOT 

exp1 exp2 Result
True True False
True False True
False True True 
False False True

In [39]:
#Nested If 

if False:
  print("Condition 1")
  if True:
    print("Condition 1-1")
  else:
    print("Else of Condition 1-1")
else:
  print("Else of Condition 1")
  if False:
    print("If in Else part")
  else:
    print("Else of condition 1 in else.")

Else of Condition 1
Else of condition 1 in else.

In [ ]:
#Looping Statements

print("Hello") #10

In [ ]:
# 1. For 
# 2. While

In [41]:
#1. For 

for i in range(0,100):
  print("Hello")

Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello
Hello

eo

In [44]:
for i in range(0,10,3): #(lowerlimit,upperlimit,step)
  print(i)

0
3
6
9

In [45]:
Namelist = []

In [46]:
Namelist

[]

In [47]:
#list
#user defined input
#looping statement
num = int(input("Enter number of names you want to enter in a list:"))
for i in range(0,num):
  name = input("Enter Name:")
  Namelist.append(name)

Enter number of names you want to enter in a list:4
Enter Name:John
Enter Name:Jane
Enter Name:Jenny
Enter Name:Bob

In [53]:
Namelist =['John', 'Jane', 'Jenny', 'Bob','Rob','Jonny','Tony','Jack','Juliet','jonny','jack','juliet']

In [51]:
#loop
#Condition
#String slicing

#Task: List names which are starting from 'J'

In [66]:
for i in Namelist:
  if i[0].lower() == 'j':
    print(i)

John
Jane
Jenny
Jonny
Jack
Juliet
jonny
jack
juliet

In [57]:
for i in Namelist:
  print(type(i))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

In [58]:
name1='John'

In [59]:
name1[0]

'J'

In [61]:
name1.lower()

'john'

In [62]:
name1.upper()

'JOHN'

In [67]:
for name in Namelist:
  print(name)

John
Jane
Jenny
Bob
Rob
Jonny
Tony
Jack
Juliet
jonny
jack
juliet

In [68]:
#While loop

#while(condition):
#Statement
#increment or decrement

In [2]:
i = 0

while(i<10):
  print(i)
  i+=2

0
2
4
6
8

In [3]:

#Task: Take number as user input Print table of that number for and while loop

In [13]:
#For loop
num = int(input("Enter Number:"))
for i in range(1,11):
  print(num,i,num*i)

Enter Number:101
101 1 101
101 2 202
101 3 303
101 4 404
101 5 505
101 6 606
101 7 707
101 8 808
101 9 909
101 10 1010

In [7]:
i = 1
num = int(input("Enter number of choice:"))
while(i<=10):
  print(num,"x",i,"=",num*i)
  i+=1

Enter number of choice:11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

In [10]:

num = int(input())
for i in range (1,11):
  print(num, "x", i,"=", num*i)

11
11 x 1 = 11
11 x 2 = 22
11 x 3 = 33
11 x 4 = 44
11 x 5 = 55
11 x 6 = 66
11 x 7 = 77
11 x 8 = 88
11 x 9 = 99
11 x 10 = 110

In [14]:
#User Defined Functions

In [16]:
#Function

print("Hello")

list12 = [1,2,3,45,5,6]

Hello

In [17]:
len(list12)

6

In [18]:
#User Defined Function

def add1(a,b):
  print(a+b)

In [19]:
add1(10,11)

21

In [22]:
lmb = lambda x:x*2+5 #one liner function

In [23]:
lmb(10)

25