# Numpy Advance Assignment

## Module 4: Data Structure Assignment

#### Problem Statement:
You work in XYZ Corporation as a Data Analyst. Your corporation has told you to work with the 
structure of the Data.

### Tasks to be performed:

1. Create a list named ‘myList’ that is having the following elements: 10,20,30,’apple’, True, 8.10.
        a. Now in the ‘myList’, append th
        
        ese values: 30,40 
        b. After that reverse the elements of the ‘myList’ and store that in ‘reversedList’

In [3]:
myList=[10,20,30,'apple',True,8,10]
myList

[10, 20, 30, 'apple', True, 8, 10]

In [4]:
myList.append(30)
myList

[10, 20, 30, 'apple', True, 8, 10, 30]

In [5]:
myList.append(40)
myList

[10, 20, 30, 'apple', True, 8, 10, 30, 40]

In [7]:
reversedList=myList.reverse()
print(reversedList)

None

### Tasks to be performed:

2. Create a dictonary with key values as 1,2,3 and the values as ‘data’,’information’, and ‘text’.
        a. After that eliminate the ‘text’ value form the dictonary.
        b. Add ‘features’ in the dictonary.
        c. Fetch the ‘data’ element from the dictonary and display it in the output.

In [9]:
Dict = {1: 'Data', 2: 'Information', 3: 'Text'}
print(Dict)

{1: 'Data', 2: 'Information', 3: 'Text'}

In [11]:
del Dict[3]
print(Dict)

{1: 'Data', 2: 'Information'}

In [13]:
Dict[31] = 'features'
print(Dict)

{1: 'Data', 2: 'Information', 31: 'features'}

In [14]:
Dict[1]

'Data'

### Tasks to be performed:
    
3. Create a tuple and add these elements 1,2,3,apple,mango in ‘my_tuple

In [16]:
my_tuple = ( 1, 2, 3, 'apple', 'mango')

print(my_tuple)

(1, 2, 3, 'apple', 'mango')

### Tasks to be performed:

4. Create another tuple named numeric_tuple consisting of only integer values 10,20,30,40,50
        a. Find the minimum value from the numeric_tuple.
        b. Concatenate my_tuple with numeric_tuple and store the result in r1.
        c. Duplicate the tuple named my_tuple 2 times and store that in ‘newdupli’.

In [17]:
numeric_tuple = (10, 20, 30, 40, 50)
min(numeric_tuple)

10

In [18]:
r1 = numeric_tuple + my_tuple
r1

(10, 20, 30, 40, 50, 1, 2, 3, 'apple', 'mango')

In [19]:
newdupli = ((my_tuple)*2)
newdupli

(1, 2, 3, 'apple', 'mango', 1, 2, 3, 'apple', 'mango')

### Tasks to be performed:

5. Create 2 sets with name set1 and set2, where set1 contains{1,2,3,4,5} and set2 to contains{2,3,7,6,1}
        a. Perform the below operation:
            a. set1 union set2
            b. set1 intersection set2 
            c. set1 difference set2

In [22]:
set1 = {1,2,3,4,5}
set2 = {2,3,7,6,1}

res1 = set1.union(set2)
res1

{1, 2, 3, 4, 5, 6, 7}

In [23]:
res2 = set1.intersection(set2)
res2

{1, 2, 3}

In [25]:
res3 = set1.difference(set2)
res3

{4, 5}